LICENSE~
*.pri
UncertainT/obj/Debug/layout.resfiles
*.intermediate
UncertainT/obj/Debug/MultipleQualifiersPerDimensionFound.txt
*.resfiles
UncertainT/obj/Debug/priconfig.xml
UncertainT/obj/Debug/qualifiers.txt
UncertainT/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
UncertainT/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
UncertainT/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
UncertainT/obj/Debug/UncertainT.csproj.FileListAbsolute.txt
UncertainTests/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
UncertainTests/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
UncertainTests/obj/Debug/UncertainTests.csproj.FileListAbsolute.txt
UncertainTests/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs